html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  height: 100vh;
  margin-top: 0;
  background-color: beige;
}
@media (min-width: 768px) {
  .container {
    margin-bottom: 0%;
    width: 100%;
    height: 78vh;
    margin-left: 0%;
    margin-top: 0%;
    font-size: 0px;
  }
}
@media (min-width: 1200px) {
  .container {
    margin-bottom: 0%;
    width: 100%;
    height: 157vh;
    margin-left: 0px;
    margin-top: 0%;
    font-size: 0px;
  }
}
.container h2 {
  margin-bottom: 31px;
  color: brown;
  width: 50px;
  height: 91px;
  margin-left: 30px;
  margin-top: 123px;
  font-size: 101px;
  padding: 0px;
  display: block;
}
@media (min-width: 768px) {
  .container h2 {
    margin-bottom: 31px;
    width: 50px;
    height: 68px;
    margin-left: 144px;
    margin-top: 140px;
    font-size: 101px;
  }
}
@media (min-width: 1200px) {
  .container h2 {
    margin-bottom: 19px;
    width: 100px;
    height: 68px;
    margin-left: 413px;
    margin-top: 136px;
    font-size: 100px;
  }
}
.container h3 {
  padding: 8px;
  margin-bottom: -11px;
  color: black;
  width: 99%;
  height: 100px;
  margin-left: 1px;
  margin-top: 31px;
  font-size: 32px;
  display: inline-block;
}
@media (min-width: 768px) {
  .container h3 {
    margin-bottom: 18px;
    width: 90%;
    height: 81px;
    margin-left: 5px;
    margin-top: 4px;
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .container h3 {
    margin-bottom: 54px;
    width: 97%;
    height: 92px;
    margin-left: 8px;
    margin-top: 23px;
    font-size: 43px;
  }
}
.container p {
  padding: 10px;
  margin-top: -37px;
  color: gray;
  display: block;
  font-size: 22px;
  margin-bottom: -21px;
  height: 85px;
  width: 100%;
  margin-left: 0px;
}
@media (min-width: 768px) {
  .container p {
    margin-bottom: -27px;
    width: 77%;
    height: 98px;
    margin-left: 17px;
    margin-top: -37px;
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .container p {
    margin-bottom: -16px;
    width: 96%;
    height: 100px;
    margin-left: 12px;
    margin-top: -44px;
    font-size: 29px;
  }
}
.container .field {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .container .field {
    margin-bottom: 20px;
    width: 50%;
    height: 300px;
    margin-left: 114px;
    margin-top: -49px;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .container .field {
    margin-bottom: 20px;
    width: 50%;
    height: 300px;
    margin-left: 376px;
    margin-top: 77px;
    font-size: 26px;
  }
}
.container .field label {
  padding: 3px;
  display: block;
  font-size: 32px;
  color: black;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 69px;
}
.container .field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 23px;
  margin-left: 69px;
}
.container .field textarea {
  width: 68%;
  margin-left: 68px;
  font-size: 15px;
}
@media (min-width: 768px) {
  .container .field textarea {
    width: 74%;
    margin-left: 67px;
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .container .field textarea {
    width: 46%;
    margin-left: 67px;
    font-size: 22px;
  }
}
.container input[type=submit] {
  margin-left: 76px;
  display: block;
  padding: 6px 30px;
  font-size: 15px;
  background-color: #4460AA;
  color: #fff;
  border: none;
}
.container .checkbox {
  margin-bottom: 14px;
  margin-left: -113px;
  margin-top: 7px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=Contacto.css.map */