
.menu{
    padding: 20px;
    display: flex;
    gap: 50px;
    list-style: none;
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.lis{
    text-decoration: none;
    background-color: #bbb;
    box-sizing: border-box;
    width: 400px;
    padding: 15px;
    font-size: large;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 3px 13px 1px black;
}

