.destination_information{
    width: 30%;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 2.5em;
    font-family: 'Anton', sans-serif;
    color: #fff;
    left: 10%;
    top:55%;
    gap: 20px;
    & .destination_name{
        
    }

    & .destination_hotel{
        align-self: center;
    }
  }