@mixin mobile ($margin-bottom,$margin-top,$margin-left,$width,$font-size){
    @media(max-width:376px){
        margin-bottom: $margin-bottom;
        margin-top: $margin-top;
        margin-left: $margin-left;
        width: $width;
        font-size: $font-size;

    }

}